body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: greenyellow;
    height: 100vh;
}


#gameArea {
    width: 700px;
    height: 500px;
    background-color: white;
    position: relative;
}

#ball {
    background-color: green;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 20px;
}

.paddle {
    width: 20px;
    height: 100px;
    top: 100px;
    position: absolute;
    background-color: black;
}

#firstPlayerPaddle {
    left: 0;
}

#computerPaddle {
    right: 0;
}







 







